@mixin displayFlex($justC, $alignC, $alignI, $fdirection){
  display: flex;
  justify-content: $justC;
  align-content: $alignC;
  align-items: $alignI;
  flex-direction: $fdirection;
}

$input-border: 1px solid black;
$input-border-radius: 2px;
$input-padding: 6px;
$input-width: 15rem;
$input-bg-color: green;
$input-fs-border: 1px solid gold;

@mixin transition($time-motion){
  transition: $time-motion;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0,0,0,0.8);
  }
  to {
    border-right-color: transparent;
  }
}