.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B2DBD5;
    width: 400px;
    height: 500px;

    label {
      text-align: left;
    }

    input, textarea {
      border: $input-border;
      border-radius: $input-border-radius;
      padding: $input-padding;
      width: $input-width;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: grey;
        @include transition(.3s ease-in);
        transform-origin: 0 50%;
      }
      &:focus::-webkit-input-placeholder {
        letter-spacing: 20px;
        opacity: 0;
      }
    }
    div:nth-child(n+2):nth-child(-n+6) {
      min-height: 43px;
      padding: 12px;
    }
    textarea {
      resize: none;
      width: 15rem;
      height: 13rem;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
    }

    button {
      border: $input-border;
      font-size: 16px;
      width: 15rem;
    }
  }
}
