#home {
  // display: flex;
  // justify-content: center;
  
  header {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 161px 300px 28px;
    height: 45%;
    background: black;
    position: absolute;
    top: 80px;
    width: 100vw;

    
    h1 {
      color: white;
      font-size: 8rem;
      text-align: left;
      padding: 36px;
      margin: 0;
      font-weight: 100;
  

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 60%;
        top: 0;
        left:-15px;
        background-color: #85C1E9;
        color: white;
      }
    }

    p {
      color: white;
    }

    
  }

}
.Home-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffffc2;
  width: 49rem;
  height: 22rem;
  border: none;
  border-radius: 8px;
}
ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  padding: 1rem;
  width: 30px;
}
a {
  text-decoration: none; 
  color: black; 
  cursor: pointer;
  .Home-fontawesome {
    font-size: 40px
  }
  &:hover {
    color: white;
  }
}