#Home {
  display: flex;
  justify-content: center;
}
.Home-wrapper {
  background-color: #ffffffc2;
  width: 49rem;
  height: 22rem;
  border: none;
  position: absolute;
  bottom: 37%;
  border-radius: 8px;
}
a {
  text-decoration: none; 
  color: black; 
  cursor: pointer;
  .Home-fontawesome {
    font-size: 40px
  }
  &:hover{
    color: white;
  }
}