.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(35% - 50px);
    height: 550px;
    background-color: rgba(0,0,0,.8);
    min-width: 300px;
    position: relative;
    padding: 40px;
    border-radius: 3px;
    font-family: 'Arvo';

    h3 {
      color: black;
      position: absolute;
      top: -48px;
      font-size: 31px;
    }

    label {
      text-align: left;
    }

    input, textarea {
      background: transparent;
      padding: $input-padding;
      width: $input-width;
      border: 0;
      color: #ffffff;
      border-bottom: 2px solid #ffffff;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: #808080;
        @include transition(.3s ease-in);
        transform-origin: 0 50%;
      }

      &:focus::-webkit-input-placeholder {
        letter-spacing: 20px;
        opacity: 0;
      }
    }
    
    div:nth-child(n+2):nth-child(-n+7) {
      min-height: 43px;
      padding: 12px;
      font-size: 16px;
      text-align: left;
      color: #ffffff;
      text-transform: capitalize;
    }

    textarea {
      height: 13rem;
      resize: none;
      width: 15rem;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
    }

    .fa-check, .fa-exclamation-triangle {
      display: block;
    }

    .fa-check {
      color: #008000;
      margin-top: 30px;
    }

    .fa-exclamation-triangle {
      color: #ff0000;
      font-size: 50px;
      margin-top: 48px;
    }

    .response-message {
      background-color: #333333;
      color: #ffffff;
      height: 500px;
      position: absolute;
      top: 0px;
      width: calc(100% - 36px);
      min-width: 300px;
      border-radius: 5px;
      text-align: center;
    }

    #success-message {
      font-size: 37px;
      padding: 185px 36px;
    }

    #failure-message {
      font-size: 23px;
      padding: 185px 23px
    }

    button[type='submit'] {
      background-color: #ffffff;
      border-radius: 6px;
      border: 1px solid black;
      color: #000000;
      font-family: 'Arvo';
      font-size: 16px;
      height: 2.6rem;
      width: 15rem;
      
      &:hover  {
        cursor: pointer;
        background-color: #000000;
        border: 2px solid #ffffff;
        color: #ffffff;
      }
    }
    
    button[type='reset'] {
      background: none;
      color: white;
      border: 0;
      text-decoration: underline;
      position: absolute;
      bottom: 27px;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

@media only screen and(max-width: 600px){
  form {
    margin-top: 8rem;
  }
}