.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(35% - 50px);
    height: 500px;
    background-color: rgba(0,0,0,.8);
    min-width: 300px;
    position: relative;
    padding: 40px;
    border-radius: 3px;


    h3 {
      color: white;
    }

    label {
      text-align: left;
    }

    input, textarea {
      background: transparent;
      border-radius: $input-border-radius;
      padding: $input-padding;
      width: $input-width;
      border: none;
      color: #fff;
      border-bottom: 2px solid #fff;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: grey;
        @include transition(.3s ease-in);
        transform-origin: 0 50%;
      }

      &:focus::-webkit-input-placeholder {
        letter-spacing: 20px;
        opacity: 0;
      }
    }
    
    div:nth-child(n+2):nth-child(-n+7) {
      min-height: 43px;
      padding: 12px;
      font-size: 16px;
      text-align: left;
      color: white;
      text-transform: capitalize;
    }

    textarea {
      resize: none;
      width: 15rem;
      height: 13rem;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
    }

    button {
      border: $input-border;
      font-size: 16px;
      width: 15rem;
      height: 2.6rem;
      border-radius: 6px;
    }
  }
}
