.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100vh;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(35% - 50px);
    height: 500px;
    background-color: rgba(0,0,0,.8);
    min-width: 300px;
    position: relative;
    padding: 40px;
    border-radius: 3px;


    h3 {
      color: black;
      position: absolute;
      top: -48px;
      font-size: 31px;
      font-family: 'Arvo';
    }

    label {
      text-align: left;
    }

    input, textarea {
      background: transparent;
      padding: $input-padding;
      width: $input-width;
      border: none;
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
      font-family: 'Arvo';

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: #808080;
        @include transition(.3s ease-in);
        transform-origin: 0 50%;
      }

      &:focus::-webkit-input-placeholder {
        letter-spacing: 20px;
        opacity: 0;
      }
    }
    
    div:nth-child(n+2):nth-child(-n+7) {
      min-height: 43px;
      padding: 12px;
      font-size: 16px;
      text-align: left;
      color: #ffffff;
      text-transform: capitalize;
      font-family: 'Arvo';
    }

    textarea {
      font-family: 'Arvo';
      height: 13rem;
      resize: none;
      width: 15rem;

      &:focus {
        border: $input-fs-border;
        outline: none;
      }
    }

    .fa-check {
      color: #008000;
    }

    #messages {
      background-color: rgba(0, 0, 0, 1);
      color: #ffffff;
      font-family: 'Arvo';
      font-size: 37px;
      height: 500px;
      padding: 185px 36px;
      position: absolute;
      text-align: center;
      top: 0px;
      width: calc(109% - 36px);
      animation: ease-in sentEmail 3s;
      min-width: 300px;
      border-radius: 5px;
    }

    #submit {
      background-color: #ffffff;
      border-radius: 6px;
      border: 2px solid black;
      color: #000000;
      cursor: pointer;
      font-family: 'Arvo';
      font-size: 16px;
      height: 2.6rem;
      width: 15rem;
      
      &:hover  {
        background-color: #000000;
        border: 2px solid #ffffff;
        color: #ffffff;
      }
    }
  }
}

@keyframes sentEmail {
  from { 
    background-color: #333333;
  }
  to {
    background-color: #333333; 
  }

}

@keyframes handleError {
  from {
    z-index: -1;
  }
  to {
    z-index: 3;
  }
}