footer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: calc(10px + 2%);

  section:nth-child(1)  {
    position: relative;
    grid-column: 1;
    grid-row: 1 / 2;

    h2 {
      text-align: right;
      color: #ffffff;
      z-index: 1;
      padding: 3px;
      text-transform: capitalize;
      font-size: 20px;
      
      &::before {
        position: absolute;
        content: '';
        background-color: #ffa500;
        width: 10ch;
        height: 1.7rem;
        top: 0;
        bottom: 0;
        right: -1px;
        z-index: -1;
      }
    }

    div {
      position: relative;
      margin-top: 9px;

      blockquote {
        position: relative;
        color: black;
        text-align: left;
        font-size: 18px;
        font-family: 'PT', sans-serif;
        z-index: 2;
        font-style: italic;
        word-wrap: break-word;
        padding: 35px;
        
        &::before, &::after {
          display: block;
          font-size: 3em;
          color: #3333333d;
          position: absolute;
        }
        
        &::before {
          content: open-quote;
          top: 0px;
          left: 7px;
        }

        &::after {
          content: close-quote;
          bottom: -25px;
          right: 21px;
        }
      }


    }
  }

  section:nth-child(2) {
    background-color: #333;
    
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      text-decoration: none;
      
      &:hover > * {
        cursor: pointer;
        border: 2px solid #ffd700;
      }
    }
    
    div {
      padding: 1rem;
      position: relative;
      border: 1px solid #ffffff;
      
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        background: #333333;
        z-index: 1;
      }
      
      @include footer-corner-borders;
      
      p {
        position: relative;
        font-size: 24px;
        color: #ffffff;
        z-index: 2;
        cursor: pointer;
        
        i {
          padding-right: 8px;
        }
      }
    }
  }

  section:nth-child(3) {
    @include displayFlex(center, center, center, column);
    grid-column: 3;
    grid-row: 1;
    position: relative;
    border: 1px solid #333333;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      background: #ffffff;
      z-index: 1;
    }

    @include footer-corner-borders;

    h2 {
      text-align: right;
      text-transform: lowercase;
      z-index: 2;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 75px);
      grid-gap: 10px;
      margin: 10px;
      padding: 0px 0px 7px 0px;

      li {
        pointer-events: none;
        @include listItems;
        z-index: 2;
        background-color: #ffffff;
      }

      li:nth-child(1) {
        color: rgb(255, 165, 0);
      }

      li:nth-child(3) {
        color: rgb(255, 0, 0);
      }

      li:nth-child(5) {
        color: rgb(0, 191, 255);
      }

      li:nth-child(6) {
        color: rgb(164, 78, 74);
      }

      li:nth-child(7) {
        color: rgb(0, 128, 0);
      }

      li:nth-child(8) {
        color: rgb(164, 78, 74);
      }
    }
  }
}

aside {
  
  p {
    text-align: center;
    font-size: 18px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    list-style-type: none;

      li:nth-child(4) img {
        height: 72px;
        width: 85px;
      }

      li:nth-child(5) img {
        height: 61px;
        width: 61px;
      }

      li:nth-child(6) img {
        height: 67px;
        width: 72px;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 100%;
        height: 100%;
      }
      
      li:nth-child(1) {
        color: #ffa500;
      }
      li:nth-child(2) {
        color: #62dfff;
      }
      li:nth-child(3) {
        color: #f80880;
      }
  }
}

@media only screen and (max-width: 1129px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  
    section:nth-child(1){
      grid-column: 1;
      grid-row: 1;
    }

    section:nth-child(2){
      grid-column: 1;
      grid-row: 3;
    }

    section:nth-child(3) {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

@media only screen and (max-width: 406px) {
  footer {
    grid-template-rows: 605px 150px 200px;

    section:nth-child(3) {
      
      h2 {
        font-size: 18px;
      }
      
      ul {
        grid-template-columns: repeat(4, 56px);
        margin: 0px;
        padding: 11px 0px 22px 0px;

        li {
          width: 43px;
          height: 37px;
          font-size: 24px;
        }
      }

    }
  }
}