 header {
   position: relative;

   label {
    z-index: 99;
   }
 }
 
.Home-nav {
  display: flex;
  flex-direction: row;
  padding: 18px;
  font-size: 18px;
  position: fixed;
  right: 83px;
  top: 5px;
  z-index: 99;

  a {
    text-decoration: none;
    color: black;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    background-color: #fff;
    margin-left: 3px;

    &:hover {
      background-image: linear-gradient(to right,  rgb(97, 153, 228), rgba(0, 0, 0, 0.39));
      border: 1px solid gold;
      color: white;
      cursor: pointer;
    }

    &:active {
      background-image: linear-gradient(to right,  rgb(42, 196, 4), rgba(0, 0, 0, 0.39));
    }
  }
    li {
      @include displayFlex(center, null, center, row);
      list-style-type: none;
      transition: ease-in 100ms; 
      width: 100%;
      height: 100%;
      padding: 0.5rem 1.5rem;
    }
}

.icon {
  padding-right: 4px;
}

header label {
  padding: 12px;
  position: fixed;
  right: 18px;
  top: 16px;
  cursor: pointer;
  border: 1px solid #b3a7a7;
  background-color: #ffffffba;}

 .toggle {
  display: none;
} 

input[type=checkbox] + label {

  .bar {
    display: block;
    width: 36px;
    height: 4px;
    background-color: black;
    margin: 4px;
    transition: all 0.2s;
  }
}

input[type=checkbox]:checked + label {
  .top {
    transform: translateY(9px) rotate(45deg);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    transform: translateY(-7px) rotate(-45deg);

  }
}